  /* Scrollbar styles */
  ::-webkit-scrollbar {
    width: 20px;
    height: 10px;
    background: transparent;

  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 15px;
    box-shadow: inset 0 0 5px grey;
    opacity: 0.1;
  }