#SettingsModal {
    position: fixed;
    top: calc(100% - 75px);
    left: -1px;
    right:-1px;
    background-color: rgba(0, 0, 0, 0.25);
    height:100%;
    transition: 250ms;
    backdrop-filter: blur(10px);
    box-shadow: 10px 0 rgba(0,0,0,0.5);
}
#SettingsDrawer {
    background-color: rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}
#SettingsDrawerIcon{
    transition: 250ms;
    padding:20px;
}

#SettingsModal.open {
    top:-1px;
}
#SettingsModal.open #SettingsDrawerIcon {
    transform: rotate(180deg);
}

#SettingsModal .SettingsHeader {
    margin: 20px 10% auto 10%;
    text-align: center;
    font-size: 2rem;
    background-color: rgba(0,0,0,0.5);
    padding:20px;
    border-radius: 20px 20px 0 0;
}

#SettingsModal .SettingsItem {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    text-align: right;
    background-color: rgba(0,0,0,0.25);
    margin: auto 10%;
    padding:20px;
    border-top: 1px solid rgba(255,255,255,0.25);
    font-size: 1.25rem;
    line-height: 2.25rem;
    align-content: center;
}

#SettingsModal .SettingsItem:hover {
    background-color: rgba(10,25,10,0.5);
}

#SettingsModal input[type="number"] {
    background-color: rgba(0,0,0,0.5);
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    color: rgba(255,255,255,0.75);
    font-size: 1.5rem;
    justify-self: left;
    padding: 5px 10px;
}